<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Banking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="icon" th:src="@{/images/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:src="@{/images/favicon.png}" type="image/x-icon">
    <style>
        body, h1, h2, h3, h4, h5 { font-family: "Poppins", sans-serif; }
        body { font-size: 16px; }
        .w3-half img { margin-bottom: -6px; margin-top: 16px; opacity: 0.8; cursor: pointer; }
        .w3-half img:hover { opacity: 1; }
        .custom-light-grey {
        background-color: #dcdcdc; /* Adjust the color code to your preference */
    }
    </style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-dark-grey w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar">
    <br>
    <div class="w3-container">
        <div style="display: flex; align-items: center;">
            <h3 class="w3-xxxlarge w3-text-white"><b>Fin</b></h3>
            <img th:src="@{/images/finlogoinverted.png}" style="max-width: 45%; margin-left: 10px;" alt="About Our Bank">
        </div>
        <h3 class="w3-xxxlarge w3-text-white" style="text-align: left;"><b>Secure</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="/login" class="w3-bar-item w3-button w3-hover-white"><b>Login</b></a>
        <a href="/register" class="w3-bar-item w3-button w3-hover-white"><b>Register</b></a>
        <a href="#" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="#aboutourbank" class="w3-bar-item w3-button w3-hover-white">About Our Bank</a>
        <a href="#ourteam" class="w3-bar-item w3-button w3-hover-white">Our Team</a>
        <a href="#onlinebankingservices" class="w3-bar-item w3-button w3-hover-white">Online Banking Services</a>
        <a href="#helpandfaq" class="w3-bar-item w3-button w3-hover-white">Help and FAQ</a>
        <a href="/admin" class="w3-bar-item w3-button w3-hover-white">Admin</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Fin Secure</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- About Our Bank -->
    <div class="w3-container w3-light-grey" style="margin-top:80px" id="aboutourbank">
        <h1 class="w3-jumbo"><b>Experience secure and convenient online banking services with FinSecure.</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>About Our Bank.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
    
    <div class="w3-row-padding">
        <div class="w3-half">
            <img th:src="@{/images/about-our-bank.jpg}" style="width:75%" onclick="onClick(this)" alt="About Our Bank">
        </div>
        <div class="w3-half">
            <p>Welcome to our trusted banking institution, where your financial well-being is our top priority. 
                With a rich history of serving our community, we are committed to providing reliable and innovative 
                banking solutions. Learn more about our mission and values as we continue to grow together with you.</p>
        </div>
    </div>
    
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>
    
    <!-- Our Team -->
    <div class="w3-container" id="ourteam" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Our Team.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>The best team in the world.</p>
        <p>Experts dedicated to delivering excellence in financial services.</p>
        <p><b>Selected to deliver excellence in banking services</b>:</p>
    </div>

    <!-- The Team -->
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <img th:src="@{/images/team1.jpg}" onclick="onClick(this)" alt="Andy" style="width:100%">
                <div class="w3-container">
                    <h3>Andy Lee</h3>
                    <p class="w3-opacity">CEO & Founder</p>
                    <p>Guided by our visionary CEO and Founder, we strive to deliver exceptional banking solutions that meet the evolving needs of our valued clients.</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <img th:src="@{/images/team2.jpg}" onclick="onClick(this)" alt="Jason" style="width:100%">
                <div class="w3-container">
                    <h3>Jason Lee</h3>
                    <p class="w3-opacity">Investor Manager</p>
                    <p>As our dedicated Investor Manager, we expertly navigate the financial landscape, ensuring optimal returns.</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <img th:src="@{/images/team3.jpg}" onclick="onClick(this)" alt="Dog" style="width:100%">
                <div class="w3-container">
                    <h3>Dog</h3>
                    <p class="w3-opacity">Compliance Officer</p>
                    <p>As our Compliance Officer, we safeguard our operations by ensuring that we meet all industry regulations and ethical standards.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Services -->
    <div class="w3-container" id="onlinebankingservices" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Our Services.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Explore our banking services tailored to your financial needs.</p>
        <!-- Add your content here -->
    </div>
    
    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">FinSecure One</li>
                <li class="w3-padding-16">Chequing and Savings Accounts</li>
                <li class="w3-padding-16">Online Banking</li>
                <li class="w3-padding-16">Mobile Banking App</li>
                <li class="w3-padding-16">Credit Cards</li>
                <li class="w3-padding-16">Secure and Convenient</li>
                <li class="w3-padding-16">
                    <h2>Start Your Financial Life</h2>
                    <span class="w3-opacity">with FinSecure One</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <a class="w3-button w3-dark-grey w3-padding-large w3-hover-black" href="/login">Get Started</a>
                   </a>
                </li>
            </ul>
        </div>
        
        <div class="w3-half">
            <ul class="w3-ul w3-light-grey w3-center">
                <li class="w3-red w3-xlarge w3-padding-32">FinSecure Commercial</li>
                <li class="w3-padding-16">Business Chequing</li>
                <li class="w3-padding-16">Business Loans</li>
                <li class="w3-padding-16">Merchant Services</li>
                <li class="w3-padding-16">Business Credit Cards</li>
                <li class="w3-padding-16">Tailored Solutions</li>
                <li class="w3-padding-16">
                    <h2>Grow Your Business</h2>
                    <span class="w3-opacity">with FinSecure Commercial</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                        <a class="w3-button w3-red w3-padding-large w3-hover-black" href="/login">Get Started</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Contact -->
    <div class="w3-container" id="helpandfaq" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Seeking guidance as you embark on your journey with us? Please don't hesitate to reach out for assistance by completing the form below</p>
        <form action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border" type="text" name="Name" required>
            </div>
            <div class="w3-section">
                <label>Email</label>
                <input class="w3-input w3-border" type="text" name="Email" required>
            </div>
            <div class="w3-section">
                <label>Message</label>
                <input class="w3-input w3-border" type="text" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
        </form>
    </div>
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
     
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>
</body>
</html>
